---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Import partials.
@import "reset";

$break-desk: 1130px;
$break-huge: 1440px;
$break-ipad: 768px;
$break-iphone: 414px;

body, footer .wrapper p, h1 {
	font-family: 'Univers LT W01_55 Roman1475956', Helvetica, Arial, sans-serif;
	font-size: 13px;

	@media screen and (max-width: $break-desk) {
		font-size: 1.15vw;
	}
	@media screen and (max-width: $break-ipad) { font-size: 1.4vw; }
	@media screen and (max-width: $break-iphone) { font-size: 2.5vw; }
	@media screen and (min-width: $break-huge) {
		font-size: 0.9vw;
	}
	
	font-weight: 400;
	text-transform: lowercase;
	line-height: 1.3;
}

a {
	&, &:hover,
	&:visited {
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid black;
		font-size: 12px;
		
		@media screen and (max-width: $break-desk) {
			font-size: 1.08vw;
		}
		@media screen and (max-width: $break-ipad) { font-size: 1.3vw; }
		@media screen and (max-width: $break-iphone) { font-size: 2.38vw; }
		@media screen and (min-width: $break-huge) {
			font-size: 0.85vw;
		}
	}

	&.media-link, &.site-title, .instafeed & {
		border-bottom: none;
		font-size: 13px;
		
		@media screen and (max-width: $break-desk) {
			font-size: 1.15vw;
		}
		@media screen and (max-width: $break-ipad) { font-size: 1.4vw; }
		@media screen and (max-width: $break-iphone) { font-size: 2.5vw; }
		@media screen and (min-width: $break-huge) {
			font-size: 0.9vw;
		}
	}

	.instafeed &:hover img {
		filter:none;
	}



	&.site-title {
		text-decoration: none;
	}

	&.page-link {
		text-decoration: none;
		border-bottom: 1px solid;
		display: inline;
		margin-right: 8%;
	}

	&.footer-link {
		text-decoration: none;
		border-bottom: 1px solid;
		display: inline;
	}
}

.media-link {

	&, &:visited {
		color: white;
		text-decoration: none;

	}

	& h2, & h3 {
		border-bottom: 1px solid black;
		display: inline-block;
		line-height: 1.25;
		margin-bottom: 5px;
		font-size: 12px;
		
		@media screen and (max-width: $break-desk) {
			font-size: 1.08vw;
		}
		@media screen and (max-width: $break-ipad) { font-size: 1.3vw; margin-bottom: 0; color: black; }
		@media screen and (max-width: $break-iphone) { font-size: 2.38vw; }
		@media screen and (min-width: $break-huge) {
			font-size: 0.85vw;
		}
	}

	& .post-item-title {
		margin-top: 3px;
	}



	&:hover {
		color: black;
	}

	&:hover .media-img {
		filter: none;
	}
	
}

.wrapper {
	margin: 4vw 5vw;
}

.post-list {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	-webkit-flex-wrap: wrap;
	/* Safari */
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	/* Safari */
	justify-content: flex-start;

	-webkit-align-items: flex-end;
	/* Safari */
	align-items: flex-end;
	width: 100%;
	box-sizing: border-box;
}



article.post-item {
	box-sizing: border-box;
}

.media-img, .instafeed img {
	width: 100%;
	filter: grayscale(0.8);
}


.col {
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.c33, .instafeed img {
	width: 33.333%;
	@media screen and (max-width: $break-ipad) {width: 50%;}
	box-sizing: border-box;
	padding-right: 4%;
	padding-bottom: 4%;
}

.post-list .c33 {
	padding-bottom: 2%;
	@media screen and (max-width: $break-ipad) {padding-bottom:4%;}
}
.c33o {
	padding-left: 33.333%;
	@media screen and (max-width: $break-ipad) {padding-left:0;}
} 
.c67o {
	padding-left: 66.7%;
	@media screen and (max-width: $break-ipad) {padding-left:50%;}

}

.c67 {
	width: 66.6667%;
	@media screen and (max-width: $break-ipad) {width: 50%;}
	box-sizing: border-box;
	padding-right: 4%;
	padding-bottom: 4%;
}

.c100 {
	width: 100%;
	box-sizing: border-box;
	
	padding-bottom: 4%;
}

.instafeed img {
	padding-bottom: 0;
}

.profile-photo {
	padding-top: 5%;
}

.profile-photo img {
	width: 50%;
	padding-right: 50%;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer p {
	padding-top: 10vh;
}
p {
	line-height: 1.5;
}

@media screen and (max-width: $break-ipad) {
	.page-heading, .post-title {
		padding-bottom: 4%;
		padding-top: 20%;
	}
}


