---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = site.baseurl %}

  <ul class="post-list">
    {% for item in site.portfolio %}
      <li>
        <img class="media-img" src="{{ item.image-url }}" alt="{{ item.title | escape }}" title="{{ item.title | escape }}"/>
        <h2>
          <a class="post-link" href="{{ item.url | prepend: full_base_url }}">{{ item.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: full_base_url }}">via RSS</a></p>

</div>
