--- 
layout: default 
---
<div class="home">
    <h1 class="page-heading">Posts</h1>
    <div class="post-list">
        {% for item in site.posts %}
        <article class="post-item c33">
            <a class="media-link" href="{{ item.url | prepend: site.baseurl }}"><div class="image-holder"><img class="media-img" src="{{ item.image-url | prepend: site.baseurl }}" alt="{{ item.title | escape }}" title="{{ item.title | escape }}" /></div>
                <h2>
          {{ item.title | escape }}

        </h2>{{ item.role | escape }}</a>
        </article>
        {% endfor %}
    </div>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml " | prepend: site.baseurl }}">via RSS</a></p> -->
</div>
