--- 
layout: default 
---
<article class="media">
    
        <h1 class="page-heading">{{ page.title | escape }}</h1>
    <div class="col c33o c100 video"><div class="video-container">{{ page.video }}</div></div>
    <div class="col c33o c67 post-content" itemprop="articleBody">
        {{ content }}
    </div>
    <div class="col c33">
        <header class="media-header">
            <p class="media-meta">{{ page.categories | join: ' ' }}<br/>{{ page.year }}</p>
        </header>
    </div>
    
</article>
